<li *ngFor="let contact of contacts">
  <div class = "contact"> 
    <div class="leftColumn">
        <div class="fakeImage" >
            {{contact.Photo}}
          </div>
    </div>
    
    <div class="midColumn">
      <p class = "name">
        {{contact.FirstName}} {{contact.LastName}}
      </p>
        
      <p class = "details">
        {{contact.ChatHistory}}
      </p>
    </div>
    
    <div class="rightColumn">
      <p class = "time">
        {{contact.Hour}}:{{contact.Minute}}
      </p>
    </div>
  </div>
</li>
