
.contact{
   background-color: aliceblue;
   border-bottom: 1px solid gray;
   height: 80px;
   max-height: 80px;
   width: 80%;
   margin: auto;
 
}

.name{
    color: #778299;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.details{
    color: #778299;
    font-family: Arial, Helvetica, sans-serif;
}

.time{
    color: #778299;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.fakeImage{
    color: white;
    background-color: darkgrey;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    text-align: center;
}

.leftColumn{
    float: left;
    width: 10%;
    align-content: center;
    
}

.midColumn{
    float: left;
    width: 80%;
    
}

.rightColumn {
    float: left;
    width: 10%;
    
}